body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu{
    list-style: none;
    float: right;

}
.eachmenu{
    display: inline;
    color:blue;
    font-size: 130%;
   
    margin-right: 20px;
    font-weight: bold;
   
    cursor: pointer

}
.eachmenu:hover{
    color:gold;
    border-bottom: 1px solid goldenrod;
    transition:all 0.3s ease-in;
    padding-bottom: 6px;
}header{
  
    background: #BE93C5;  
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  
    background: linear-gradient(to right, #7BC6CC, #BE93C5); 
    height:120vh;
    background-position:center;

    z-index: -2;
}